.document-container {
  position: relative;
}

.page-details {
  /* position: absolute; */
  /* padding-inline: 1rem; */
  /* padding-block: 0.5rem; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.page-info {
  position: absolute;
  left: 0;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.page-nav {
  position: absolute;
  padding-inline: 1rem;
  top: 90%;
  /* transform: translateX(-50%); */
  /* transform: translateY(-50%); */
  left: 0;
  width: 100%;
  display: grid;
  place-content: center;
  gap: 0.5rem;
  z-index: 500;
}

.nav-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #bebebe10;
  backdrop-filter: blur(5px);
  border-radius: 4px;
}

/* Add these new classes for nav-controls visibility */
.visible {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.nav-controls:hover {
  opacity: 1;
  visibility: visible;
}

.pdf-wrapper {
  width: 100%;
  height: calc(100vh - 5rem);
  overflow: auto;
  display: flex;
  justify-content: center;
}

.pdf-document {
  width: 60%;
  height: inherit;
  padding: 1rem;
}

.form {
  position: absolute;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  left: 0;
  width: fit-content;
}

.goto-form {
  display: flex;
  gap: 8px;
  align-items: center;
}

.goto-input {
  width: 6rem;
  height: 2rem;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: #dc2626;
  font-size: 0.875rem;
  margin-left: 8px;
}

@media only screen and (max-width: 768px) {
  .pdf-document {
    display: grid;
    place-content: center;
  }
}
