.document-container {
  position: relative;
}

.page-details {
  /* position: absolute; */
  /* padding-inline: 1rem; */
  /* padding-block: 0.5rem; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.page-info {
  position: absolute;
  left: 0;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.page-nav {
  position: absolute;
  padding-inline: 1rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.pdf-document {
  width: 100%;
  height: calc(100vh - 5rem);
  overflow: scroll;
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}

.form {
  position: absolute;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  right: 0;
  width: fit-content;
}

.goto-form {
  display: flex;
  gap: 8px;
  align-items: center;
}

.goto-input {
  width: 6rem;
  height: 2rem;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: #dc2626;
  font-size: 0.875rem;
  margin-left: 8px;
}
